
@font-face {
    font-family: 'HelveticaMC';
    src: url('HelveticaNeueLTPro-MdCn.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'HelveticaULC';
    src: url('HelveticaNeueLTStd-UltLtCn.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaLC';
    src: url('HelveticaNeueLTCom-LtCnO.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background: url(images/bg-body.jpg) no-repeat top center #20101f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    color: #808080; 

}
#container {
    padding: 0 0 15px 0;
}

#page {
    background: url(images/bg-page.jpg) repeat-x top;
    background-color: #f7f7f7;
    width: 1000px;
    margin: 0px auto;
    margin-top: 15px;
}
#top {
    padding: 30px 30px 0px 30px;
    height: 70px;
}
.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}
#top .contact {
    padding: 12px 0 0 0;
}

#top .contact big {
    font-size: 22px;
    font-family: HelveticaMC;
}

#top .contact small {
    font-size: 22px;
    padding: 0 0 0 10px;
    font-family: HelveticaULC;
}
.middle {
    width: 940px;
    margin: 0 auto;
}

#image {
    height: 370px;
    background: url(images/bg-rotator.jpg) no-repeat bottom center;
    padding: 0 0 30px 0;
}

#image h1 {
    font-size: 35px;
    color: #00000a;
    text-align: center;
    font-family: HelveticaMC;
    height: 50px;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    display: block;
}

#page .middle {
    padding: 0 0 30px 0;
}

.curved-top {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.curved {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.button-container {
    position: relative;
    padding: 0 0 33px 0;
    background: url(images/button-try-shadow.png) no-repeat bottom center; 
}
.button-container a{
    text-decoration: none;
}
.button-container .button {
    width: 295px;
    height: 35px;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;  
    background: linear-gradient(to top, #5F9AE1 0%, #C0EAFF 100%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 90px;
    border-bottom: 1px solid #81ADE5;
    box-shadow: 0 7px 2px -4px #6B859F; 
    font-size: 16px;
    cursor: pointer;
}
.button-container .button h1 {
    font-size: 22px;
    font-family: HelveticaMC;
    color: #37567F;
    margin-top: -5px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #3e618f;
}
.button-container .button p {
    font-size: 14px;
    font-family: HelveticaULC;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px #3f5d7e;
    margin-top: -2px;
}

.button-container .arrow-left {
    background: url(images/down-left.png) no-repeat right 2px;
    height: 85px;
    position: absolute;
    top: 20px;
    right: 35px;
    padding: 0 55px 0 0;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
}

.features {
    padding: 30px 0 0 0;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features ul li {
    width: 205px;
    position: relative;
    padding: 0 0 0 80px;
    margin: 0 40px 0 0;
    float: left;
    height: 180px;
}

.features ul li img {
    position: absolute;
    top: 0;
    left: 0;
}

.features ul li h3 {
    color: #00000a;
    font-family: HelveticaMC;
    font-size: 22px;
}

.features ul li p {
    padding: 5px 0 0 0;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
p {
    line-height: 17px;
}
* {
    margin: 0;
    padding: 0;
}

#customers-response {
    padding: 0 0 20px 0;
}

#customers-response h4 {
    font-size: 22px;
    color: #5790dc;
    font-family: HelveticaLC;
    padding: 0 0 10px 0;
}

#customers-response .text {
    background: url(images/testimonials-li-text.jpg) top repeat-x #f1f1f1;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 938px;
    position: relative;
    z-index: 10;
}

#customers-response .text p {
    padding: 30px;
    text-align: center;
    font-style: italic;
}
#customers-response .author {
    background: url(images/testimonials-li-author.jpg) no-repeat top right;
    padding: 0 30px 0 0;
    margin: -2px 20px 0 0;
    text-align: right;
    position: relative;
    line-height: 34px;
    z-index: 20;
}
.arrow-right {
    background: url(images/down-long-right.png) no-repeat top left;
    padding: 50px 0 20px 110px;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
    position: absolute; 
    top: -30px;
    left: 35px;
}

#bottom {
    background: url(images/bg-bottom.jpg);
    width: 1000px;
    height: 134px;
    margin: 0 auto;
    color: #1d1d1d;
    padding: 30px 0 0 0;
}
#bottom .box h5 {
    font-size: 18px;
    font-family: HelveticaMC;
    padding: 0 0 10px 0;
    color: #00000a;
}
#bottom .box.contact {
    width: 210px;
    padding: 0 230px 0 0;
    position: relative;
}
#bottom .box.contact .showmap {
    background: url(images/contact.jpg);
    width: 200px;
    height: 70px;
    position: absolute;
    top: 30px;
    right: 0;
    
}
#bottom .box.details.float-left {
    width: 200px;
    padding-left: 30px;
}
#bottom .box.social.float-right {
    width:  180px;
    padding-left: 30px;
}
.social-icons li {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}

.social-icons li div {
    background: url(images/social-icons.png) no-repeat;
    width: 24px;
    height: 24px;
}

.social-icons li .skype {
    background-position: 0 0;
}
.social-icons li .linkedin {
    background-position: 0 -24px;
}
.social-icons li .facebook {
    background-position: 0 -48px;
}
.social-icons li .digg {
    background-position: 0 -72px;
}
.social-icons li .deviantart {
    background-position: 0 -96px;
}
.social-icons li .twitter {
    background-position: 0 -120px;
}
.curved-bottom {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: relative;
}
#footer {
    background: url(images/bg-footer.jpg) no-repeat;
    width: 1000px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
}

#footer p {
    line-height: 35px;
    color: #1d1d1d;
}
#footer ul li:first-child {
    border-left: 0;
}
#footer ul li:last-child {
    padding-right: 10px;
}
#footer p.float-left {
    padding-left: 10px;
}
#footer ul li {
    display: inline-block;
    border-left: 1px solid #1d1d1d;
    line-height: 12px;
    padding: 0 5px 0 7px;
    color: #1d1d1d;
}